html,body {
  height: 100%;
  background: #f4f4f4;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none !important;
}

a:hover{
  text-decoration: none;
}

.btn-custom {
  padding: 8px 28px;

  font-weight: 300;
  font-size: 16px;
}

header {
  background: #fff url('../img/bg.png') repeat 0 0;
  background-size: cover;
  border-bottom: 1px solid #e7e7e7;
  padding: 50px 0;
  text-align: center;
  min-height: 200px;
}

@media (min-width: 767px) {
  header {
    padding: 75px 0;
  }
}

header p {
  margin: 0;
  margin-bottom: 15px;

  color: #36404a;

  font-size: 16px;
}

header .logo {
  margin-bottom: 3em;
}

header .lead {
  color: #999;

  font-size: 20px;

  line-height: 1.7em;
}

header h1 {
  display: inline-block;

  position: relative;

  margin-top: 0;

  color: #2b3d4c;

  font-weight: 600;
  font-size: 30px;
}

header h1 .label {
  position: absolute;
  top: -10px;
  right: -40px;

  padding: 4px;

  color: #fff;

  font-size: 12px;
  font-weight: 600;

  background: #999;
}

footer {
  padding: 35px 0;
  margin-bottom: 0;

  color: #666;

  text-align: center;

  background: #fff;

  border-top: 1px solid #e7e7e7;
}

.theme-preview-container {
  margin: 5em 0 3em;

  text-align: center;
}

.theme-preview {
  display: inline-block;

  position: relative;

  padding: 0 20px 40px;
  margin: 0 1.5em 3em;

  width: 390px;
  min-height: 348px;

  background: #fff;

  border: 1px solid #ddd;

  border-radius: 5px;
}

  .theme-preview h3 {
    margin-bottom: .5em;

    color: #555;

    font-size: 21px;
    font-weight: 600;
  }

  .theme-preview img {
    float: right;

    margin: 3em -20px 1.5em 0;
  }

  .theme-preview .theme-description {
    padding: 0 10px;
    margin-bottom: 1.25em;

    color: #aaa;

    font-size: 13px;

    line-height: 1.85em;
  }

  .theme-preview .ribbon {
    position: absolute;
    right: -5px; top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px; height: 75px;
    text-align: right;
  }

  .theme-preview .ribbon span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#D74B4B 0%, #d74b4b 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; right: -21px;
  }

  .theme-preview .ribbon span::before {
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid #d74b4b;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #d74b4b;
  }

  .theme-preview .ribbon span::after {
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #d74b4b;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #d74b4b;
  }

@media (max-width: 768px) {
  .theme-preview-container {
    margin: 2em 0;
  }

  .theme-preview {
    width: 100%;

    margin: 0 0 1.5em;
  }
}





.btn-primary,
.btn-secondary,
.btn-tertiary,
.btn-facebook,
.btn-twitter {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-primary:active,
.btn-secondary:active,
.btn-tertiary:active,
.btn-facebook:active,
.btn-twitter:active,
.btn-primary.active,
.btn-secondary.active,
.btn-tertiary.active,
.btn-facebook.active,
.btn-twitter.active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn-primary {
  color: #ffffff;
  background-color: #d74b4b;
  border-color: #cc2d2d;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff;
  background-color: #c42b2b;
  border-color: #641616;
}
.btn-primary:hover {
  color: #ffffff;
  background-color: #c42b2b;
  border-color: #9a2222;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #c42b2b;
  border-color: #9a2222;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #ffffff;
  background-color: #a62525;
  border-color: #641616;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #d74b4b;
  border-color: #cc2d2d;
}
.btn-primary .badge {
  color: #d74b4b;
  background-color: #ffffff;
}
.btn-secondary {
  color: #ffffff;
  background-color: #6685a4;
  border-color: #54718d;
}
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff;
  background-color: #516c87;
  border-color: #25313e;
}
.btn-secondary:hover {
  color: #ffffff;
  background-color: #516c87;
  border-color: #3d5267;
}
.btn-secondary:active,
.btn-secondary.active,
.open > .dropdown-toggle.btn-secondary {
  color: #ffffff;
  background-color: #516c87;
  border-color: #3d5267;
}
.btn-secondary:active:hover,
.btn-secondary.active:hover,
.open > .dropdown-toggle.btn-secondary:hover,
.btn-secondary:active:focus,
.btn-secondary.active:focus,
.open > .dropdown-toggle.btn-secondary:focus,
.btn-secondary:active.focus,
.btn-secondary.active.focus,
.open > .dropdown-toggle.btn-secondary.focus {
  color: #ffffff;
  background-color: #435a71;
  border-color: #25313e;
}
.btn-secondary:active,
.btn-secondary.active,
.open > .dropdown-toggle.btn-secondary {
  background-image: none;
}
.btn-secondary.disabled:hover,
.btn-secondary[disabled]:hover,
fieldset[disabled] .btn-secondary:hover,
.btn-secondary.disabled:focus,
.btn-secondary[disabled]:focus,
fieldset[disabled] .btn-secondary:focus,
.btn-secondary.disabled.focus,
.btn-secondary[disabled].focus,
fieldset[disabled] .btn-secondary.focus {
  background-color: #6685a4;
  border-color: #54718d;
}

.btn-secondary .badge {
  color: #6685a4;

  background-color: #ffffff;
}

.btn-secondary {
  padding: 8px 20px;

  font-size: 15px;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}