src/Etherkeep.Server/bin
src/Etherkeep.Server/obj
src/Etherkeep.Server/appsettings.json
src/Etherkeep.Server/Etherkeep.Server.xproj.user
src/Etherkeep.Server/project.lock.json
src/Etherkeep.Web/bin
src/Etherkeep.Web/obj
src/Etherkeep.Web/assets
src/Etherkeep.Web/node_modules
src/Etherkeep.Web/app/**/*.js
src/Etherkeep.Web/app/**/*.map
src/Etherkeep.Data/bin
src/Etherkeep.Data/obj
src/Etherkeep.Accounts/bin
src/Etherkeep.Accounts/obj
src/Etherkeep.Accounts/appsettings.json
src/Etherkeep.Admin/bin
src/Etherkeep.Admin/obj
src/Etherkeep.Admin/appsettings.json
src/Etherkeep.Shared/bin
src/Etherkeep.Shared/obj