{
  "ConnectionStrings": {
    "DefaultConnection": "User ID=postgres;Password=postgres;Server=localhost;Port=5432;Database=etherkeep;Pooling=true;",
    "HangfireConnection": "Server=.\\sqlexpress;Database=Hangfire.Sample;Trusted_Connection=True;"
  },
  "EmailSenderOptions": {
    "Server": "",
    "Port": 587,
    "User": "",
    "Password": "",
    "UseSsl": false,
    "RequiresAuthentication": true,
    "PreferredEncoding": "",
    "FromAddress": "",
    "FromName": "",
    "ReplyToAddress": ""
  },
  "SmsSenderOptions": {},
  "WalletServiceOptions": {
    "BaseAddress": "http://localhost:3080/api/v1",
    "Environment": "test",
    "Enterprise": "",
    "AccessToken": "",
    "BackupXpubProvider": ""
  },
  "Logging": {
    "IncludeScopes": false,
    "LogLevel": {
      "Default": "Debug",
      "System": "Information",
      "Microsoft": "Information"
    }
  }
}