            <!--header start-->
          <header class="header white-bg">
              <div class="container ">
                  <!--logo start-->
                  <a [routerLink]="['/']" class="logo" >Cari<span>coin</span></a>
                  <!--logo end-->
                  <div class="top-nav ">
                      <ul *ngIf="!user" class="nav pull-right top-menu">
                            <li><a [routerLink]="['/register']">Register</a></li>
                            <li><a [routerLink]="['/login']">Login</a></li>
                      </ul>
                      <ul *ngIf="user" class="nav pull-right top-menu">
                          <li>
                              <input type="text" class="form-control search" placeholder="Search">
                          </li>
                          <!-- user login dropdown start-->
                          <li class="dropdown">
                              <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                  <img alt="" src="img/avatar1_small.jpg">
                                  <span class="username">{{user.firstName}} {{user.lastName}}</span>
                                  <b class="caret"></b>
                              </a>
                              <ul class="dropdown-menu extended logout">
                                  <div class="log-arrow-up"></div>
                                  <li><a [routerLink]="['/settings']"><i class=" fa fa-suitcase"></i>Profile</a></li>
                                  <li><a [routerLink]="['/settings']"><i class="fa fa-cog"></i> Settings</a></li>
                                  <li><a [routerLink]="['/settings']"><i class="fa fa-bell-o"></i> Notification</a></li>
                                  <li><a href="javascript:;" (click)="logout()"><i class="fa fa-key"></i> Log Out</a></li>
                              </ul>
                          </li>
                          <!-- user login dropdown end -->
                      </ul>
                  </div>
              </div>
          </header>
          <!--header end-->