{
  "ConnectionStrings": {
    "DefaultConnection": "User ID=postgres;Password=postgres;Server=localhost;Port=5432;Database=etherkeep;Pooling=true;",
    "HangfireConnection": "Server=.\\sqlexpress;Database=Hangfire.Sample;Trusted_Connection=True;"
  },
  "EmailSenderOptions": {
    "Server": "",
    "Port": 587,
    "User": "",
    "Password": "",
    "UseSsl": false,
    "RequiresAuthentication": true,
    "PreferredEncoding": "",
    "FromAddress": "",
    "FromName": "",
    "ReplyToAddress": ""
  },
  "SmsSenderOptions": {},
  "OpenIdConnectOptions": {
    "ClientId": "admin",
    "ClientSecret":  "admin",
    "Authority": "http://localhost:5000/",
    "PostLogoutRedirectUri": "http://localhost:5003/"
  },
  "Logging": {
    "IncludeScopes": false,
    "LogLevel": {
      "Default": "Debug",
      "System": "Information",
      "Microsoft": "Information"
    }
  }
}
