{
  "OIDC": {
    "Authority": "http://localhost:5001/",
    "PostLogoutRedirectUri": "http://localhost:5000/",
    "ClientId": "myClient",
    "ClientSecret": "secret_secret_secret",
    "Scope": [
      "email",
      "roles"
    ]
  },
  "Logging": {
    "IncludeScopes": false,
    "LogLevel": {
      "Default": "Debug",
      "System": "Information",
      "Microsoft": "Information"
    }
  }
}
