@media (min-width: 980px) {
    /*-----*/
    .custom-bar-chart {
        margin-bottom: 40px;
    }

}

@media (max-width: 767px) and (max-width: 979px) {

    .navbar-collapse, .navbar-collapse.in, .mega-menu ul li a {
        width: 100%;
    }

    .mega-menu .navbar-nav {
        height: 100%;
    }

    .mega-bg {
        position: relative;
    }

    .mail-box .sm-side {
        width: 30%;
    }

    .mail-box .lg-side {
        width: 70%;
    }
}

@media (max-width: 768px) {

    .header {
        position: absolute;
    }


    /* body container */
    #main-content {
        margin: 0px!important;
        position: none !important;
    }

    .mail-info, .mail-info:hover {
        display: none !important;
    }



    /*---------*/

    .modal-footer .btn {
        margin-bottom: 0px !important;
    }

    .btn {
        margin-bottom: 5px;
    }




    .mail-box aside {
        display: block;
    }

    .mail-box .sm-side , .mail-box .lg-side{
        width: 100% ;
    }

    /*--*/

    /*.chart-position {*/
        /*margin-top: 0px;*/
    /*}*/

    .timeline-desk .album a {
        margin-bottom: 5px;
        margin-right: 4px;
    }

    .stepy-titles li {
        margin: 10px 3px;
    }

    .mail-option .btn {
        margin-bottom: 0;
    }

    .boxed-page .container #sidebar {
        position:absolute;
    }

    /*--horizontal menu--*/
    .full-width .navbar-toggle {
        border: 1px solid #eaeaea;
    }
    .full-width .navbar-toggle .icon-bar {
        background: #c7c7c7;
    }

    .full-width .navbar-toggle {
        float: left;
        margin-top: 12px;
    }

    .horizontal-menu {
        float: left;
        margin-left:0px;
        width: 70%;
        margin-top: 10px;
    }

    .top-nav {
        position: absolute;
        right: 10px;
        top: 0px;
    }

    .horizontal-menu .navbar-nav > li > a {
        padding-bottom: 10px;
        padding-top: 10px;
    }
    /*-----*/

    /*menu icon plus minus*/
    .dcjq-icon {
        top: 10px;
    }
    ul.sidebar-menu li ul.sub li a {
        padding: 0;
    }

    /*---*/

    .img-responsive {
        width: 100%;
    }

}



@media (max-width: 480px) {

    .navbar-collapse, .navbar-collapse.in, .mega-menu ul li a {
        width: 100%;
    }

    .mega-menu .navbar-nav {
        height: 100%;
    }

    .mega-bg {
        position: relative;
    }

    .notify-row, .search, .dont-show , .inbox-head .sr-input, .inbox-head .sr-btn{
        display: none;
    }

    .mail-box aside {
        display: block;
    }

    .mail-box .sm-side , .mail-box .lg-side{
        width: 100% ;
    }

    #top_menu .nav > li, ul.top-menu > li {
        float: right;
    }
    .hidden-phone {
        display: none !important;
    }

    .dataTables_filter {
        float: left;
    }

    .dataTables_info {
        margin-bottom: 10px;
    }

    .mail-option .btn {
        margin-bottom: 0;
    }

    .mail-option .inbox-pagination {
        margin-top: 10px;
        float: left;
    }

    .chart-position {
       margin-top: 0px;
     }
    /*--horizontal menu--*/
    .full-width .navbar-toggle {
        border: 1px solid #eaeaea;
    }
    .full-width .navbar-toggle .icon-bar {
        background: #c7c7c7;
    }

    .full-width .navbar-toggle {
        float: left;
        margin-top: 12px;
    }

    .horizontal-menu {
        float: left;
        margin-left:0px;
        width: 100%;
    }

    .top-nav {
        position: absolute;
        right: 10px;
        top: 0px;
    }

    .horizontal-menu .navbar-nav > li > a {
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .ms-container {
        width: 100%;
    }

    .cmt-form {
        display: inline-block;
        width: 84%;
    }

    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
        background-color: #ccc;
        border-color:#ccc ;
    }
}

@media (max-width:320px) {
    .notify-row, .search, .dont-show, .inbox-head .sr-input, .inbox-head .sr-btn {
        display: none;
    }

    .mail-box aside {
        display: block ;
    }

    .mail-box .sm-side , .mail-box .lg-side{
        width: 100% ;
    }

    #top_menu .nav > li, ul.top-menu > li {
        float: right;
    }

    .hidden-phone {
        display: none !important;
    }

    .dataTables_filter {
        float: left;
    }

    .dataTables_info {
        margin-bottom: 10px;
    }

    .mail-option .btn {
        margin-bottom: 0;
    }

    .mail-option .inbox-pagination {
        margin-top: 10px;
        float: left;
    }

    .chart-position {
        margin-top: 0px;
    }

    .lock-wrapper {
        margin: 10% auto;
        max-width: 310px;
    }
    .lock-input {
        width: 82%;
    }

    .cmt-form {
        display: inline-block;
        width: 75%;
    }

    .chat-room .mid-side footer .btn-group {
        display: none;
    }

    .stepy-titles li.current-step div, .stepy-titles li div {
        width: 70px;
        height: 70px;
        line-height: 70px;
    }
}




