<form (ngSubmit)="changePassword()" #changePasswordForm="ngForm">
	<div *ngIf="error != null" class="alert alert-danger">
		{{ error }}
	</div>
	
	<div class="form-group">
		<label for="old-password">Old Password</label>
		<input [(ngModel)]="model.oldPassword" name="oldPassword" type="password" class="form-control" id="old-password">
	</div>
	<div class="form-group">
		<label for="new-password">New Password</label>
		<input [(ngModel)]="model.newPassword" name="newPassword" type="password" class="form-control" id="new-password">
	</div>
	<div class="form-group">
		<label for="confirm-password">Old Password</label>
		<input [(ngModel)]="model.confirmPassword" name="confirmPassword" type="password" class="form-control" id="confirm-password">
	</div>
	<button type="submit" class="btn btn-default">Change password</button>
</form>