  <div class="content">

    <div class="container">

      <div class="portlet portlet-boxed">

        <div class="portlet-header">
          <h3 class="portlet-title">Blank Slate</h3><!-- /.portlet-title -->
        </div><!-- /.portlet-header -->

        <div class="portlet-body">

          <br class="xs-80">

          <div class="blank-slate">
            <div class="blank-slate-icon">
              <i class="fa fa-user"></i>
            </div>
            <h3 class="blank-slate-title">Your customers list</h3>
            <p class="blank-slate-lead">Create items with names, contact information and locations to speed-up dispatching.</p>
            <a href="#" class="btn btn-primary">Add customer</a>
          </div>

          <br class="xs-80" />

        </div><!-- /.portlet-body -->
      </div><!-- /.portlet portlet-boxed -->



    </div> <!-- /.container -->

  </div> <!-- .content -->