	<div *ngIf="error != null" class="alert alert-danger">
		{{ error }}
	</div>     

	<a *ngIf="model.identityType==identityType.MobileNumber" (click)="setIdentityType(identityType.EmailAddress)" href="javascript:void(null);">Register with email address</a>
	<a *ngIf="model.identityType==identityType.EmailAddress" (click)="setIdentityType(identityType.MobileNumber)" href="javascript:void(null);">Register with mobile number</a>

	  <form class="form-signin" (ngSubmit)="register()" #loginForm="ngForm">
        <div class="login-wrap">
			<input [(ngModel)]="model.firstName" name="firstName" type="text" class="form-control" placeholder="First Name" id="first-name">
			<input [(ngModel)]="model.lastName" name="lastName" type="text" class="form-control" placeholder="Last Name" id="last-name">
		<div [ngSwitch]="model.identityType" class="form-group">
			<div *ngSwitchCase="identityType.MobileNumber">
				<div class="col-lg-1">
					<input [(ngModel)]="model.countryCallingCode" name="countryCallingCode" type="text" class="form-control" id="countryCallingCode" tabindex="1">
				</div>
				<div class="col-lg-3">
					<input [(ngModel)]="model.areaCode" name="areaCode" type="text" class="form-control" id="areaCode">
				</div>
				<div class="col-lg-8">
					<input [(ngModel)]="model.subscriberNumber" name="subscriberNumber" type="text" class="form-control" id="subscriberNumber">
				</div>
			</div>
			<div *ngSwitchCase="identityType.EmailAddress">
				<input [(ngModel)]="model.emailAddress" name="emailAddress" type="email" class="form-control" id="email-address" tabindex="1">
			</div>
		</div>

            <input [(ngModel)]="model.password" name="password" type="password" class="form-control" placeholder="Password">
            <button class="btn btn-lg btn-login btn-block" type="submit">Sign up</button>

        </div>

      </form>

<form >
	