<form (ngSubmit)="register()" #loginForm="ngForm">
	<div *ngIf="error != null" class="alert alert-danger">
		{{ error }}
	</div>
	<div class="form-group">
		<label for="first-name">First Name</label>
		<input [(ngModel)]="registerModel.firstName" name="firstName" type="text" class="form-control" id="first-name">
	</div>
	<div class="form-group">
		<label for="last-name">Last Name</label>
		<input [(ngModel)]="registerModel.lastName" name="lastName" type="text" class="form-control" id="last-name">
	</div>
	<div [ngSwitch]="registerModel.registerMode" class="form-group">
		<div *ngSwitchCase="registerMode.MobileNumber">
			<label>Mobile Number</label>
			<br/>
			<div class="col-lg-1">
				<input [(ngModel)]="registerModel.countryCallingCode" name="countryCallingCode" type="text" class="form-control" id="countryCallingCode">
			</div>
			<div class="col-lg-3">
				<input [(ngModel)]="registerModel.areaCode" name="areaCode" type="text" class="form-control" id="areaCode">
			</div>
			<div class="col-lg-8">
				<input [(ngModel)]="registerModel.subscriberNumber" name="subscriberNumber" type="text" class="form-control" id="subscriberNumber">
			</div>
		</div>
		<div *ngSwitchCase="registerMode.EmailAddress">
			<label for="email-address">Email Address</label>
			<input [(ngModel)]="registerModel.emailAddress" name="emailAddress" type="email" class="form-control" id="email-address">
		</div>
	</div>
	
	<div class="form-group">
		<label for="password">Password</label>
		<input [(ngModel)]="registerModel.password" name="password" type="password" class="form-control" id="password">
	</div>
	<button type="submit" class="btn btn-default">Register</button>
	<a *ngIf="registerModel.registerMode==registerMode.MobileNumber" (click)="setRegisterMode(registerMode.EmailAddress)" href="javascript:void(null);">Register with email address</a>
	<a *ngIf="registerModel.registerMode==registerMode.EmailAddress" (click)="setRegisterMode(registerMode.MobileNumber)" href="javascript:void(null);">Register with mobile number</a>
</form>