  <br class="xs-80">

  <div class="account-wrapper">

    <div class="account-body">

      <h2>Password Reset</h2>

      <h5>We'll email you instructions on how to reset your password.</h5>
	<div *ngIf="error != null" class="alert alert-danger">
		{{ error }}
	</div>

      <form class="form account-form" (ngSubmit)="resetPassword()" #resetPasswordForm="ngForm">

        <div class="form-group">
		<label for="email-address" class="placeholder-hidden">Email Address</label>
		<input [(ngModel)]="model.emailAddress" name="emailAddress" type="text" class="form-control" id="email-address" placeholder="Your Email" tabindex="1">
        </div> <!-- /.form-group -->

        <div class="form-group">
          <button type="submit" class="btn btn-secondary btn-block btn-lg" tabindex="2">
            Reset Password &nbsp; <i class="fa fa-refresh"></i>
          </button>
        </div> <!-- /.form-group -->

        <div class="form-group">
          <a [routerLink]="['/login']"><i class="fa fa-angle-double-left"></i> &nbsp;Back to Login</a>
        </div> <!-- /.form-group -->
      </form>

    </div> <!-- /.account-body -->

  </div> <!-- /.account-wrapper -->